body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

#profile-pic {
    width: 150px; 
    height: auto;
    border-radius: 75px; 
    display: block;
    margin: 20px auto; 
}

header {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover, a:hover {
    color: #4a90e2; /* Modified color for hover state */
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

.intro-text {
    background-color: #e8e8e8; /* Light grey background for introduction text */
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

#profile-pic {
    width: 150px;
    height: auto;
    border-radius: 75px; /* Circular image for a profile picture */
    display: block;
    margin: 20px auto; /* Center the image */
}

h2 {
    color: #333;
}
